.tm-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto; /* Scroll inner content */
}

.tm-modal-content {
  background: #fff;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
  width: 750px;
  max-width: 90%;
  /* FIX */
  max-height: 90vh; /* Don't exceed screen */
  overflow-y: auto; /* Scroll inner content */
  box-sizing: border-box;
}

.tm-modal-content h2 {
  margin-top: 0;
}

.tm-modal-content label {
  display: block;
  margin: 12px 0 5px;
}

.tm-modal-content input,
.tm-modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.tm-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 25px;
}
